.card {
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
    margin: 6px;
    padding: 6px;
    width: 50%;
    color: #d3bda1;
    justify-content: center;
    
}

.cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: 100%;
    border: #d3bda1 6px solid;
}

.title {
    color: #d3bda1;
}