<div class="sidebar">
    <nav>
    <a routerLink="/casa" routerLinkActive="pagina-ativa">Casa</a>
    <a routerLink="/contato" routerLinkActive="pagina-ativa">Contato</a>
    <a routerLink="/prop-binding" routerLinkActive="pagina-ativa">Botão</a>
    <a routerLink="/input" routerLinkActive="pagina-ativa">Input</a>
    <a routerLink="/login" routerLinkActive="pagina-ativa">Login</a>
    <a routerLink="/signals" routerLinkActive="pagina-ativa">Signals</a>
    <a routerLink="/usuarios" routerLinkActive="pagina-ativa">Usuarios</a>
    <a routerLink="/contador" routerLinkActive="pagina-ativa">Contador</a>
    <a routerLink="/exemplo-signal-form" routerLinkActive="pagina-ativa">Formulário</a>
    </nav>
</div>