<div class="container">

    <div class="formulario">
        <h1>Formulário</h1>

        <form (submit)="cadastrarProduto($event)">

            <!--Título-->
            <p>Título do produto</p>
            <input type="text" [formField]="interfaceForm.titulo">
            @if (interfaceForm.titulo().touched() && interfaceForm.titulo().invalid()) {
                @for (error of interfaceForm.titulo().errors(); track error.kind) {
                    <span>{{error.message}}</span>
                }
            }

            <!--Descrição-->
            <p>Descrição do produto</p>
            <input type="text" [formField]="interfaceForm.descricao">


            <!--Preço-->
            <p>Preço do produto</p>
            <input type="text" inputmode="numeric" [formField]="interfaceForm.preco">

            <button>Cadastrar o produto</button>
        </form>
    </div>
    <div class="lista-produtos">
    <h2>Produtos cadastrados:</h2>

    <div class="cards">
        @for (produto of produtos(); track produto.titulo) {
            <div class="card-produto">
                <h3>{{ produto.titulo }}</h3>
                <p>{{ produto.descricao }}</p>
                <strong>R$ {{ produto.preco }}</strong>
            </div>
        }
    </div>
</div>